<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: chosenList === 'all'}" (click)="onChoose('all')">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: chosenList === 'light'}" (click)="onChoose('light')">Light</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: chosenList === 'dark'}" (click)="onChoose('dark')">Dark</a>
    </li>
  </ul>
  <app-list [characters]="getCharacters()"></app-list>
</div>
